<%- include ('../../layouts/header.ejs'); %>

    <body>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Criar categoria</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST" class="form-group">
                        <input class="form-control" type="text" name="title" placeholder="Titulo da categoria">
                        <input type="submit" class="btn btn-success mt-2" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </body>

    <%- include ('../../layouts/footer.ejs'); %>